
<div class='container-fluid'>

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        {{#each blogs}}
          <div class='row'>
            <div class:'col-md-2'>
            </div>
            <div class="col-md">
              <h2> <a href="/single-blog/{{id}}">{{title}} </a> </h2>
              <strong>Posted by: {{user_id}}</strong>
              <br>
              <img src="{{image}}">
              <p>{{body}}</p>
            </div>
          <div class:'col-md-2'>
          </div>
          <hr>
          <span><a href='/single-blog/{{id}}'>Go To Post Page...<a></span>
        <div class="col-md-2"></div>
      </div>
    {{/each}}
    </div>
  </div>

<!-- find library for hot button scrolling -->
  <!-- <section class='newComment'>
    <form class='row' id='makeComment' action='/blog' method='post'>
      <div class='col-md-4'></div>
      <div class='col-md-8'>
          <textarea type="text" class="form-control comment" name='newComment' placeholder="comment"></textarea>
          <button type='submit' class='btn btn-sm' action='/blog' method="post">Place Comment</button>
      </div>
      <div class='col-md-4'></div>
    </form>
  </section> -->
</div>
