<!DOCTYPE html>
<html>
  <div class='container-fluid'>
      <head>
          <!-- <title>{{title}}</title> -->
          <link rel='stylesheet' href='/stylesheets/style.css' />
          <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
      </head>

      <body>

        <h1 class='text-uppercase'>{{title}}</h1>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>

<!-- add a larger if statement for if logged in this will show -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav">

                {{#if dashboard}}
                  <li class="active"><a href="/dashboard">Home</a></li>
                {{else}}
                <li><a href="/dashboard">Home</a></li>
                {{/if}}

                {{#if blog}}
                  <li class='active'><a href="/blog">Blogs</a></li>
                {{else}}
                  <li><a href="/blog">Blogs</a></li>
                {{/if}}

                {{#if post}}
                <li class='active'><a href="/post">Post</a></li>
                {{else}}
                <li><a href="/post">Post</a></li>
                {{/if}}

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/" method='post' action='/logout'>Logout, {{this.username}} </a></li>
              </ul>

            </div> <!-- /.navbar-collapse -->
          </div> <!-- /.container-fluid -->
        </nav> <!-- <nav class='.nav'-->

        {{{body}}}

      </body>
    </div>
  </div>
  <footer>
    <ul class='list-inline'>
      <li>copyright | @catiecook | aka cookie</li>
    </ul>
  </footer>
</html>
